@use "./../../styles/variables" as *;
@use "./../../styles/mixins" as mixins;
.organisation {
  @include mixins.flex-column(16px);
}

.organisation_container {
  padding: 40px;
  @include mixins.flex-column(32px, center);
  width: 100%;
  margin: 0 auto;
}

.organisation_header {
  width: 100%;
  @include mixins.flex-row(0, center, space-between);
}

.organisation_title {
  font-weight: 500;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  letter-spacing: 0.01em;
  color: $primary-color;
  text-align: left;
}

.organisation_icons_group {
  @include mixins.flex-row(10px, center);
}

.organisation_icon_edit {

  cursor: pointer;
}

.organisation_icon_delete {
  filter: invert(34%) sepia(96%) saturate(5914%) hue-rotate(359deg) brightness(90%) contrast(88%);
  transition: filter 0.2s;
  cursor: pointer;
}

.errorMessage {
  width: 100%;
  text-align: center;
  color: red;
  font-size: $font-size-lg;
  margin: 20px auto;
}