@use "./../../styles//variables" as *;
@use "./../../styles//mixins" as mixins;

.main_menu {
  padding: 20px 6px;
  width: $sidebar-mini-width; 
  height: 100vh;
  background: $background-mini-sidebar-color;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.logo {
  width: 45px;
  height: 45px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons_menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons_menu_start,
.icons_menu_end {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon_wrapper {
  @include mixins.icon-wrapper-sidebar;
}