@use './../../styles/variables' as *;
@use "./../../styles/mixins" as mixins;

.editingActions {
    display: flex;
    gap: 12px;
    align-self: end;
  }
  
  .saveButton,
  .cancelButton {
    @include mixins.button-base;

    span {
      font-size: $font-size-xs;
      font-weight: 600;
      line-height: $line-height-flattened-button;
      letter-spacing: 0.04em;
    }
  }
  