@use './../../../styles/variables' as *;

.photoGrid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.photoItem {
  position: relative;
  border-radius: 8px;
  width: 144px;
  height: 108px;
}

.removeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 28px;
  height: 28px;
  border: none;
  background: $primary-color;
  box-shadow: $box-shadow-card-color;
  border-radius: 8px;
  cursor: pointer;
  padding: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $background-filled-hovered-button;
  }
  &:active {
    background-color: $background-filled-click-button;
  }
}

.iconSvg {
  color: $light-color-button-text;
}
