@import "variables";

@mixin button-base {
  display: flex;
  align-items: center;
  padding: 6px;
  cursor: pointer;
  color: $brand-primary-color;
  border: 1px solid $border-outline-regular-button;
  min-width: 70px;
  height: 28px;
  border-radius: 8px;
  transition: color 0.2s;
  justify-content: space-around;
  gap: 8px;

  &:hover,
  &:focus {
    color: $brand-secondary-color;
    border-color: $border-outline-hovered-button;
  }

  &:active {
    border-color: $border-outline-click-button;
    color: $brand-variant-color;
  }
}

@mixin input-field {
  border: 1px solid $border-input-regular-color;
  border-radius: $border-radius-input;
  padding: 10px 12px;
  height: 40px;
  font-weight: 400;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: 0.02em;
  color: $primary-color;
  flex: 1;
  width: 100%;
  &:hover {
    border-color: $border-input-hovered-color;
  }
  &:focus {
    outline: none;
    border-color: $border-input-focused-color;
  }
}

@mixin icon-wrapper-sidebar {
  border-radius: $border-radius-input;
  padding: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-regular-side-menu;
  transition: background-color 0.2s;
  &:hover {
    background-color: $bg-hovered-side-menu;
  }
  &:active {
    background-color: $bg-selected-side-menu;
  }
}

@mixin modal-input {
  border: 1px solid $border-input-regular-color;
  border-radius: $border-radius-input;
  padding: 8px;
  font-weight: 400;
  font-size: $font-size-base;
  line-height: $line-height-base;
  letter-spacing: 0.02em;
  color: $primary-color;
  width: 100%;
  &:focus {
    outline: none;
    border-color: $border-input-focused-color;
  }
}

@mixin modal-button {
  border: none;
  cursor: pointer;
  font-size: $font-size-base;
  border: 1px solid $border-outline-regular-button;
  border-radius: $border-radius-input;
  padding: 10px 12px;
  width: 148px;
  height: 40px;
}

@mixin flex-column($gap: 16px, $align-items: null, $justify-content: null) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  @if $align-items {
    align-items: $align-items;
  }
  @if $justify-content {
    justify-content: $justify-content;
  }
}

@mixin flex-row($gap: 10px, $align-items: null, $justify-content: null) {
  display: flex;
  flex-direction: row;
  gap: $gap;
  @if $align-items {
    align-items: $align-items;
  }
  @if $justify-content {
    justify-content: $justify-content;
  }
}
