
// Colors
$primary-color: rgba(0, 0, 0, 0.8); 
$secondary-color:  rgba(0, 0, 0, 0.5);
$brand-primary-color: #3b3b3b; 
$brand-secondary-color: #6d4aff; 
$brand-variant-color: #6d4aff; 
$light-color: rgba(0, 0, 0, 0.3); 
$light-color-button-text: rgba(255, 255, 255, 0.95); 

$background-color: #FFFFFF; 
$background-mini-sidebar-color: #3b3b3b; 

//Filled button
$background-filled-regular-button: #3b3b3b; 
$background-filled-hovered-button: #626262; 
$background-filled-click-button: #767676; 

//Outline button
$border-outline-regular-button:rgba(0, 0, 0, 0.2); 
$border-outline-hovered-button: rgba(0, 0, 0, 0.4); 
$border-outline-click-button: $brand-variant-color; 
$text-outline-click-button: $brand-variant-color; 

//Input border
$border-input-regular-color: rgba(0, 0, 0, 0.2); 
$border-input-hovered-color: rgba(0, 0, 0, 0.5); 
$border-input-focused-color:#35cdfd;

//Selector 
$border-selector-regular-color: rgba(0, 0, 0, 0.2); 
$border-selector-hovered-color: rgba(0, 0, 0, 0.5); 
$border-selector-focused-color:#35cdfd;

$bg-selector:rgba(0, 0, 0, 0.05);
$bg-selector-hovered:rgba(0, 0, 0, 0.02);
 
//Side menu button
$bg-regular-side-menu: transparent;
$bg-hovered-side-menu:rgba(255, 255, 255, 0.1);
$bg-selected-side-menu:rgba(255, 255, 255, 0.2);

//Box shadow
$box-shadow-sidebar-color: 4px 0 16px 0 rgba(0, 0, 0, 0.08);  
$box-shadow-card-color: 0 3px 8px 0 rgba(0, 0, 0, 0.12);;  

// drawer border
$drawer-border-color:rgba(0, 0, 0, 0.1);

//font-size
$font-size-base: 14px;     
$font-size-md: 13px;     
$font-size-xs: 11px;     
$font-size-lg: 28px;   

//line-height
$line-height-base: 171%;
$line-height-md: 154%;
$line-height-xs: 145%;
$line-height-lg: 143%;
$line-height-flattened-button: 182%;

//border-radius
$border-radius-picture: 10px;
$border-radius-input: 8px;
$border-radius-card: 16px;

// Размеры сайдбара
$sidebar-width: 250px; 
$sidebar-mini-width: 48px; 

//Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
