@use "./../../styles/variables" as *;
@use "./../../styles/mixins" as mixins;

.card {
  background-color: $background-color;
  border-radius: $border-radius-card;
  padding: 24px;
  width: 640px;
  box-shadow: $box-shadow-card-color;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.cardTitle {
  font-size: $font-size-base;
  color: $primary-color;
  font-weight: 700;
  line-height: $line-height-base;
  letter-spacing: 0.02em;
}

.iconButton {
  @include mixins.button-base;

  .iconSvg {
    width: 20px;
    height: 20px;
    stroke: currentColor;
    fill: none;
  }

  span {
    font-size: $font-size-xs;
    font-weight: 600;
    line-height: $line-height-flattened-button;
    letter-spacing: 0.04em;
    color: inherit;
  }
}

.infoRow {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  gap: 20px;
}

.label {
  color: $secondary-color;
  font-size: $font-size-md;
  width: 170px;
}

.value {
  font-weight: 400;
  font-size: $font-size-base;
  color: $primary-color;
}

.infoInput {
  @include mixins.input-field;
}

.editModeContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.viewModeContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.col {
  display: flex;
  flex-direction: column;
}

.select {
  width: 100%;
  padding: 8px;
  border: 1px solid $border-input-regular-color;
  border-radius: $border-radius-input;
  background: $background-color;
  &:hover {
    border-color: $border-input-hovered-color;
  }
  &:focus {
    outline: none;
    border-color: $border-input-focused-color;
  }
}

.multiSelect {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: $font-size-base;
}

.topFields {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.topField {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.topField label {
  color: $secondary-color;
  font-size: $font-size-md;
}

.topField input {
  @include mixins.input-field;
}
