.removeDialog {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  text-align: center;
  align-items: center;

  h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 154%;
    letter-spacing: 0.02em;
    text-align: center;
    width: 80%;
    color: rgba(0, 0, 0, 0.8);
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    button {
      border: none;
      cursor: pointer;
      font-size: 14px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      padding: 10px 12px;
      width: 148px;
      height: 40px;
    }

    .noBtn {
      background-color: transparent;
    }

    .yesBtn {
      background-color: #3b3b3b;
      color: #fff;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12);
    }
  }
}
