@use "./../../styles//variables" as *;
@use "./../../styles//mixins" as mixins;

.sidebar {
  width: $sidebar-width;
  height: 100vh;
  background-color: $background-color;
  box-shadow: $box-shadow-sidebar-color;
  @include mixins.flex-column(0, null, space-between);
  padding: 20px;
}

.brand {
  color: $primary-color;

  h2 {
    font-size: $font-size-base;
    font-weight: 700;
    letter-spacing: 0.02em;
  }

  p {
    margin: 4px 0 0;
    font-size: $font-size-xs;
  }
}

.drawer {
  border: 1px solid $drawer-border-color;
  width: 210px;
  height: 0;
  margin: 20px 0;
}

.navLink {
  position: relative;
  @include mixins.flex-row(0, center, center);
  height: 48px;
  padding-left: 48px;
  height: 48px;
  font-size: $font-size-base;
  font-weight: 500;
  text-decoration: none;
  color: $primary-color;
  transition: background-color 0.2s;

  &:hover {
    background-color: $background-filled-hovered-button;
  }
  &:active {
    background-color: $background-filled-click-button;
  }
}

.nav li.active .navLink {
  background-color: $background-filled-regular-button;
  font-weight: 600;

  &:hover {
    background-color: $background-filled-hovered-button;
  }
  &:active {
    background-color: $background-filled-click-button;
  }
}

.navIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.nav {
  flex: 1;

  ul {
    @include mixins.flex-column(12px);
  }

  li {
    a {
      padding: 12px 20px;
      border-radius: $border-radius-input;
      color: $primary-color;
      border: 1px solid $border-outline-regular-button;
      text-decoration: none;
      font-size: $font-size-md;
      line-height: $line-height-md;
      font-weight: 600;
      letter-spacing: 0.04em;
      transition: background-color 0.2s;

      &:hover {
        background-color: $bg-selector-hovered;
      }
    }

    &.active a {
      background-color: $background-filled-regular-button;
      color: $light-color-button-text;
    }
  }
}

.darkIcon {
  filter: brightness(0) saturate(100%) drop-shadow(0 0 0 $brand-primary-color);
  transition: filter 0.2s;
}

.lightIcon {
  filter: brightness(1.5);
  transition: filter 0.2s;
}

.footer {
  p {
    font-weight: 400;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    letter-spacing: 0.02em;
    text-align: center;
    color: $light-color;
  }
}
